body {
    color: white;
    background: rgb(3, 3, 3);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header{
    border-bottom: solid 2px rgb(8, 253, 233);
    padding: 20px; 
    font-size: 32px;
    color: rgb(58, 59, 148)
}